
# Build output directory
/build

# Plans
**/shtns_cfg
**/shtns_cfg_fftw
**/sweet_fftw

# All kinds of temporary files and directories
**/*.mod
**/*.out
**/*~
**/*.eps
**/*.swo
**/*.directory
**/*.swp
**/*.lyx#
**/*.o
**/_archive

# Python caches
**/*.pyc
**/__pycache__

# All kinds of job files
**/job_benchref_*
**/job_bench_*
**/job_plan*

# All kinds of output files
**/output_*



# Exclude platform compile scripts
**/compile_platform_*sh

# Eclipse
.cproject
.gitignore.swp
.project
.pydevproject
.sconsign.dblite
.settings/
.vscode/
*.spyproject


# Exclude output files
**/*.sweet
**/*.csv

# Exclude xbraid output files
braid.out.cycle
